

body{ font:16px/32px Helvetica, Helvetica Neue, Arial, sans-serif; background: #f8f9fa;}
#container{
	width: 86%;
	background: #fff;
	padding: 0;
}
#header-container{
	height: 70px;
	border-bottom: 1px solid lightblue;
	background: #f8f9fa;
	width: 100%;
	margin: 0;
	padding: 0;
}
#main-container{
	width: 100%;
	display: table;
	min-height: 700px;
	border-left: 1px solid lightblue;
}

li{
	background-image: -webkit-linear-gradient(bottom, lightblue 10%, #f8f9fa 90%);
	background-image: -o-linear-gradient(bottom, lightblue 10%, #f8f9fa 90%);
	background-image: linear-gradient(to top, lightblue 10%, #f8f9fa 90%);
	padding-bottom:0;
	}
li.read{
	padding-left: 1px;
}

.nav-tabs{
	padding-bottom: 0;
	padding-top: 38px;
	float:left;
	border-bottom: 1px solid transparent;
}
.nav-tabs>li>a:hover{
	text-decoration: underline;
}
.nav-tabs>li.active>a{
	padding-bottom: 4px;
	background-image: -webkit-linear-gradient(bottom, #fff 10%, #f8f9fa 90%);
	background-image: -o-linear-gradient(bottom, #fff 10%, #f8f9fa 90%);
	background-image: linear-gradient(to top, #fff 10%, #f8f9fa 90%);
}
.nav-tabs>li>a{
	padding-bottom: 3px;
	font-size: 1.3rem;
	background-image: -webkit-linear-gradient(bottom, #cbdef4 20%, #f8f9fa 80%);
	background-image: -o-linear-gradient(bottom, #cbdef4 20%, #f8f9fa 80%);
	background-image: linear-gradient(to top, #cbdef4 20%, #f8f9fa 80%);
}

.nav-tabs>li>a, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	text-decoration: none;
	cursor: pointer;
	height: 100%;
	border: none;
}
h1,h2,h3{
	font: 24px/36px Georgia;
	padding-top:5px;
	padding-bottom: 3px;
	border-bottom: 1px solid #a2a9b1;
}
h1{
	font-size: 3rem;
}
#resume{
	width:80%;
	height:auto;
	background:#fff;
	position:absolute;
	top:0;
	left:0;
}
h1,h2,h3{
	font-family: "Linux Libertine", Georgia, Times, serif;
}
header h1#title{
	font-size:3.2rem;
	margin-bottom:2px;
}

#title-sub{
	font-size: .75rem;
}



article h1{
	font-size:2em;
}
#main>article{
	padding-left:0;
	float:left;
}

#main>aside{
	background: #f8f9fa;
	font-size: 1.2rem;
	overflow: auto;
}

aside th{
	font-weight:bold;
	text-align: left;
}
aside td{
	text-align: left;
}

.infobox-title{
	padding: 4px;
	text-align: center;
	font-size: 1.1rem;
	position: relative;
}
.headshot{
	width: 100%;
	display: flex;
  	justify-content: center;
}

.headshot img{
	margin-left: auto;
	margin-right:auto;
	height: 15rem;
}

aside table{
	width: 100%;
    background-color: #f8f9fa;
    padding: 0.2em;
    float: right;
    clear: right;
    line-height: 1.5em;
}
td,th {
	display: table-cell;
	vertical-align: top;
}

td.subtitle{
	text-align: center;
	font-size: .7rem;
}
