/*@toolbarheight: 30px;*/
#cartButton {
  position: absolute;
  right: 30px;
  top: 30px;
  padding: 15px 30px;
  font-weight: bold;
  color: white;
  background-color: #5480c2;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
#cartButton:hover {
  background-color: #4272ba;
}
.valign {
  display: table !important;
  width: 100%;
  height: 190px;
}
.valign .valign-inner {
  display: table-cell !important;
  vertical-align: middle;
  /*.toolbar {
            height: 50px;
            position: relative;
            margin-top: 0;
            bottom: 160;
            right: 0;
            left: 0;
            background-color: @placeHolderColor;

            button {
                height: 75%;
                width: 8rem;
                margin: 4px;
                border-radius: 10px;
                float: right;
                background-color: @placeHolderColor;
                border: none;
                font-weight: bold;
                font: inherit;
                font-size: 1.3rem;

                &:hover {
                    cursor: pointer;
                    background-color: darken(@placeHolderColor, 5%);
                    border: 1px solid darkgray;
                }

                &:focus {
                    outline: 0;
                    border: 1px solid darkgray;
                }

                &:active {
                    background-color: darken(@placeHolderColor, 10%);
                    cursor: pointer;
                    border: none;
                }
            }
        }*/
}
.inline-block {
  display: inline-block;
}
body {
  width: 1000px;
  margin: auto;
  font-size: 20px;
  padding: 20px;
}
#header #logo {
  background-color: #bbe7e6;
  width: 190px;
  height: 190px;
  margin: 30px;
  /*img {
            width: @logoWidth;
            height: @logoWidth;
            object-position: center;
            object-fit: cover;
        }*/
  text-align: center;
  font-size: 2em;
}
#header #welcomeBanner {
  width: 690px;
  height: 190px;
  margin: 30px;
  background-color: #bbe7e6;
  text-align: center;
}
#footer {
  background-color: #bbe7e6;
  margin: 30px;
  text-align: center;
  padding: 1em;
}
#navigationMenu,
#productList {
  display: inline-block;
  vertical-align: top;
}
#navigationMenu li,
#productList li {
  list-style: none;
  text-align: center;
}
#navigationMenu {
  width: 190px;
  margin: 30px;
  padding: 0;
}
#navigationMenu li {
  background-color: #bbe7e6;
  list-style: none;
  margin-bottom: 20px;
  padding: 1em;
}
#navigationMenu li:hover {
  background-color: #31a9a3;
  color: #b72523;
}
#navigationMenu li.button {
  display: flex;
  height: auto;
  width: auto;
  padding: 0;
}
#navigationMenu li.button button {
  border: none;
  background: #bbe7e6;
  font: inherit;
  width: 190px;
  height: 63px;
}
#navigationMenu li.button button:hover {
  background-color: #31a9a3;
  color: #b72523;
}
#navigationMenu li.button button:focus {
  outline: 0;
}
#navigationMenu li.button button:active {
  background-color: #2b9590;
}
#preloader {
  width: 750px;
  margin: 0;
  padding: 0;
  display: inline-block;
}
#preloader > div {
  margin: auto;
  text-align: center;
}
#productList {
  width: 750px;
  padding: 0;
  margin: 0;
}
#productList li.product {
  width: 190px;
  height: auto;
  display: inline-block;
  padding: 30px;
  padding-bottom: 0;
  position: relative;
}
#productList li.product.outOfStock .product-inner .detail button.addCart {
  background-color: #686868;
  cursor: default;
}
#productList li.product.outOfStock .product-inner .detail button.addCart:hover {
  background-color: #5b5b5b;
}
#productList li.product.outOfStock .product-inner .detail button.addCart:before {
  content: "Out Of Stock";
}
#productList li.product[data-currentquantity="0"] .removeCart {
  max-width: 1px !important;
  z-index: -1;
  opacity: 0;
}
#productList li.product[data-currentquantity="0"] .addCart {
  right: 35px;
  max-width: 175px !important;
}
#productList li.product .productName {
  height: 30px;
}
#productList li.product .product-inner {
  width: 190px;
  height: 190px;
}
#productList li.product .product-inner img {
  width: 190px;
  height: 190px;
  object-fit: contain;
  object-position: center;
}
#productList li.product .product-inner .detail {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url('../images/cart.png');
  background-position: center 30px;
  background-size: 160px;
  background-repeat: no-repeat;
}
#productList li.product .product-inner .detail .price {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  background-color: #6c8687;
  color: white;
  padding: 0.2em;
}
#productList li.product .product-inner .detail .price:before {
  content: "$";
}
#productList li.product .product-inner .detail button {
  position: absolute;
  width: 190px;
  max-width: 80px;
  top: 40%;
  bottom: 40%;
  border: none;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  transition: max-width 0.5s ease-out 1s, z-index 1ms linear, 0.5s;
}
#productList li.product .product-inner .detail button:hover {
  cursor: pointer;
}
#productList li.product .product-inner .detail button.addCart {
  background-color: #2f862f;
  left: 35px;
}
#productList li.product .product-inner .detail button.addCart:before {
  content: "Add";
}
#productList li.product .product-inner .detail button.addCart:hover {
  background-color: #287328;
}
#productList li.product .product-inner .detail button.removeCart {
  background-color: #be3b3b;
  right: 35px;
}
#productList li.product .product-inner .detail button.removeCart:before {
  content: "Remove";
}
#productList li.product .product-inner .detail button.removeCart:hover {
  background-color: #ab3535;
}
#productList li.product:hover {
  background-color: #f1f3f1;
}
#productList li.product:hover .detail {
  display: block;
}
#modalCart .empty .noitemsalert {
  display: table !important;
}
#modalCart .empty table {
  display: none;
}
#modalCart .empty .checkout {
  display: none;
}
#modalCart .noitemsalert {
  height: 500px;
  text-align: center;
  display: none !important;
}
#modalCart .checkout {
  text-align: right;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  position: absolute;
  bottom: 50px;
  right: 100px;
}
#modalCart .checkout button {
  border: 0;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #5480c2;
  color: white;
}
#modalCart .checkout button:hover {
  cursor: pointer;
  background-color: #4272ba;
}
#modalCart .checkoutMessage {
  box-shadow: 8px 10px 60px;
  font-weight: 100;
  position: relative;
  display: none;
  width: 800px;
  min-height: 100px;
  border: 1px black solid;
  background-color: #eaeaea;
}
#modalCart #checkoutValidationMessage {
  text-align: center;
  background-color: #bbe7e6;
}
#modalCart #checkoutWarning {
  overflow: scroll;
}
#modalCart button#grandTotalButton {
  position: relative;
  left: 170px;
  top: 50px;
}
#modalCart table {
  width: 100%;
  border-collapse: collapse;
}
#modalCart table tr {
  background-color: #d1d1d1;
  height: 30px;
}
#modalCart table tr.outOfStock button.addCart {
  background-color: #686868;
  cursor: default;
}
#modalCart table tr.outOfStock button.addCart:hover {
  background-color: #5b5b5b;
}
#modalCart table tr:nth-child(even) {
  background-color: transparent;
}
#modalCart table tr span.quantity {
  width: 30px;
  display: inline-block;
  text-align: center;
}
#modalCart table tr span.productTotalPrice:before {
  content: "$";
}
#modalCart table tr th {
  text-align: left;
  width: 50%;
  padding-left: 10px;
}
#modalCart table tr th.heading {
  text-align: center;
  background-color: #be3b3b;
}
#modalCart table tr td {
  width: 25%;
  text-align: right;
}
#modalCart table tr td:last-child {
  padding-right: 10px;
}
#modalCart table tr td.old {
  text-align: right;
}
#modalCart table tr td.new {
  text-align: right;
}
#modalCart table tr td.name {
  text-align: left;
}
#modalCart table tr button.checkoutWarningButton {
  height: 2rem;
  width: 9rem;
}
#modalCart table tr button {
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: 25px;
  height: 25px;
  line-height: 20px;
}
#modalCart table tr button:hover {
  cursor: pointer;
}
#modalCart table tr button.addCart {
  background-color: #2f862f;
}
#modalCart table tr button.addCart:before {
  content: "+";
}
#modalCart table tr button.addCart:hover {
  background-color: #287328;
}
#modalCart table tr button.removeCart {
  background-color: #be3b3b;
}
#modalCart table tr button.removeCart:before {
  content: "-";
}
#modalCart table tr button.removeCart:hover {
  background-color: #ab3535;
}
